*{
    box-sizing:border-box;
}
body{
background: #2d2d2d;
margin: 0;
padding: 0;
line-height: 1;
}

.icon{
    height: "46%";
    width: "46%";
}

main{
    width: 80vw;
    height: 100vh;
    background: #333;
    margin: 0 10vw;
    padding: 20px;
    display: inline-flex ;
    gap: 15px;
    flex-wrap: wrap;
}

.wrap{
    width: calc(50% - 30px);
    height: auto;
    max-height: 150px;
    background: #1d1b1b;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(255,255,255,0.5);
    min-width: 400px;
}

.champicon{
    width: auto;
    height: 100%;
    max-width: 300px;
   
    
}

img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.champname{
    width: 50%;
    text-transform: capitalize;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 900;
    margin: 10px auto;
    color: #ff7f27;
    text-align: center;
}